/*					FONTFACES					*/

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel Regular'), local('Cinzel-Regular'), url(https://fonts.gstatic.com/s/cinzel/v7/i2BwM1Eq2JyiNOY_VrkubOvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
	font-family: 'Raleway', sans-serif;
	line-height: 1.4;
}


h1 {
	font-family: 'Cinzel-Regular', serif;
}

/*				GROUP SELECTORS 			*/

header, header div, header nav ul, .jumbotron, .articles, .jumbotext,
 .jumbobutton, .art, .courses, .container, .row, .course-art,
 .exhibit, .exhibit-container, .exhibit-art, .footer, .footnav ul {
	display: flex;
}

header, header nav ul li a, .jumbotron, .imgcontainer img,
 .jumbobutton, .articles, .bigarticle, .bigarticle img, .smallarticles, 
 .art, .art img, .courses, .course-art, .exhibit, .video-container video,
 .exhibit-art, .exhibit-art img, .nav-mobile ul li  {
	border-radius: 4px;
}

.jumbobutton, .art, .courses, .row, .exhibit, .exhibit-container,
.exhibit-art {
	justify-content: center;
}

header a div, .jumbotron, header, .art, .courses, .course-art,
.exhibit, .exhibit-art {
	align-items: center;
}

header a div, .jumbotron, header nav ul, .course-art {
	justify-content: flex-start;
}

header, .jumbotext, .footer {
	justify-content: space-between;
}

.jumbotron, .articles, .courses, .exhibit, .footer  {
	top: 64px;
	position: relative;
	z-index: 1;
}

.jumbotext, .courses, .container, .course-art, .exhibit {
	flex-direction: column;
}

/*				HEADER					*/

header {
	height: 64px;
	position: fixed;
	z-index: 9001;
	width: 100%;
	background-color: white;
	border-bottom: solid 1px darkgrey;
}

header a {
	text-decoration: none;
	color: black;
}

header div h1:last-child {
	color: grey;
}

header div h1 {
	font-size: 18px;
}

header nav, header a div {
	margin:0 24px 0 24px;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	margin: 0 8px 0 8px;
	padding: 10px;
}

header nav ul li a:hover {
	background-color: grey;
	color: white;
}

.nav-mobile {
	display: none;
}


/*				JUMBOTRON					*/

.jumbotron {
	background-color: lightgrey;
	font-weight: bold;
	width: 100%;
}

.imgcontainer {
	width: 60%;
	margin: 32px 24px 32px 24px;
}

.imgcontainer img {
	width: 100%;
	height: auto;
	
}

.jumbotext {
	width: 30%;
	height: 250px;
}

.jumbotext h1 {
	font-size: 30px;
}

.jumbotext p {
	font-size: 24px;
}

.jumbotext a {
	text-decoration: none;
	color: white;
}

.jumbobutton {
	padding: 8px 0 8px 0;
	font-size: 18px;
	background-color: grey;
}

.jumbobutton:hover {
	color: black;
	background-color: white;
}

/*					CONTENT 					*/

/*					ARTICLES					*/

.bigarticle {
	width: 60%;
	padding: 32px 24px;
	border-right: solid 1px darkgrey;
}

.bigarticle img {
	width: 100%;
}

.bigarticle h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 32px 0 24px 0;
}

.bigarticle p {
	margin: 0 0 32px 0;
	font-size: 20px;
}

.bigarticle p:last-child {
	font-size: 15px;
	margin: 0;
}

.smallarticles {
	width: 40%;
	padding: 32px 0;
}

.art {
	padding: 16px;
	margin: 1px 0;
}

.art:nth-child(2){
	border-top: solid 1px darkgrey;
}

.art img {
	width: 35%;
	height: auto;
	margin-right: 16px;
}
.img-mobile {
	display: none;
}
.art div {
	width: 65%;
}

.art:last-child {
	border-top: solid 1px darkgrey;
	background-color: lightgrey;
}

.art:first-child {
	border-bottom: solid 1px darkgrey;
}

.art div a {
	text-decoration: none;
	color: blue;
}

.art div a:hover {
	color: firebrick;
}

.art div p {
	margin: 8px 0;
}

.art div h1 {
	font-size: 22px;
	font-weight: bold;
}

/*					COURSES					*/

.courses {
	background-color: lightgrey;
	padding: 32px 72px;
	max-width: 100%;

	
}
.courses h1 {
	margin:0 0 32px 0;
	font-size: 32px;
	font-weight: bold;
}

.container {
	width: 100%;
}

.row {
	height: 300px;
	width: 100%;

}
.row:last-child {
	margin-top: 32px;
}

.course-art {
	margin-right: 32px;
	width: 25%;
	max-width: 300px;
	height: 100%;

	background-color: white;
	border: solid 2px lightgrey;
}

.course-art:hover {
	border: solid 2px black;
}

.course-art:last-child {
	margin-right: 0;
}

.course-art img {
	width: 100%;
	height: auto;
	border-radius: 4px 4px 0 0;
	
}
.course-text {
	padding-top: 16px;
	padding-left: 16px;
}
.course-text p {
	margin: 8px 0;
}

#paddingart .course-text p {
	margin-bottom: 0;
}

.container-ul {
	display: none;
}

/*					EXHIBIT				*/

.exhibit {
	width: 100%;
	padding-top: 32px;
}

.exhibit h1 {
	font-size: 32px;
	font-weight: bold;
}

.vid-cont-mobile {
	display: none;
}

.video-container {
	width: 60%;
	margin-right: 24px;
}


.video-container video {
	width: 100%;
	height: auto;
}

.video-container h1 {
	font-size: 18px;
	margin: 24px 0 8px 0;
}

.exhibit-container {
	
	margin: 32px 0 32px 24px;
}

.exhibit-articles {
	width: 40%;
}

.exhibit-art {
	padding:15px;
}
.exhibit-art:first-child {
	background-color: lightgrey;
}

.exhibit-art img {
	width: 35%;
	height: auto;
	margin-right: 16px;
}
.exhibit-art-text {
	width: 65%;
}

.exhibit-art-text h1 {
	font-size: 22px;
}

/*					FOOTER 					*/

.footer {
	padding: 16px 24px 40px 24px;
	border-top: solid 1px lightgrey;
}

.footer, .footnav ul li a {
	color: darkgrey;
}

.footnav ul {
	justify-content: flex-end;
}
.footnav ul li {
	margin-left: 10px;
}
.footnav ul li a {
	text-decoration: none;
}

/*					MEDIAQUERIES			*/

@media only screen and (max-width: 550px){
	.img-mobile {
		display: block;
	}
	.smallarticles {
		width: 100%;
		padding: 0;
	}
	.jumbortron {
		height: 700px;
	}
	.art {
		flex-direction: column;
		margin: 32px 16px;
	}
	.art:last-child {
		background-color: white;
		border-top: none;
	}
	.art:nth-child(2) {
		border-top: none;
	}
	.art:first-child {
		border-bottom: none;
		margin-top: 16px;
	}
	.art img {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.art div {
		width: 100%;
		margin-left: 16px;
		margin-top: 32px;
	}
	.container-ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.courses {
		padding: 32px 16px;
		background-color: white;
		border-top: solid 1px lightgrey;
		border-bottom: solid 1px lightgrey;
	}
	.container-ul ul {
		width: 100%;
		vertical-align: middle;
	}
	.container-ul ul li {
		margin: 0 16px;
		margin-bottom: 8px;
		background-color: lightgrey;
		padding: 16px 0 24px 16px;
	}
	.container-ul ul li:hover {
		background-color: grey;
		color: white;
	}
	.container, .img-desktop, .bigarticle {
		display: none;
	}
	

	
	
}

@media only screen and (max-width: 735px){
	.nav-mobile {
		display: flex;
		background-color: white;
		align-items: center;
		width: 100%;
		height: 64px;
		position:fixed;
		z-index: 9001;
		border-bottom: solid 1px darkgrey;
	}
	.nav-mobile ul {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px 0 50px;
	}

	header {
		display: none;
	}
	.courses {
		padding: 32px 0;
	}

}

@media only screen and (max-width: 850px){
	.jumbotron {
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
	.jumbotext {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px 0;
	}
	.jumbotext p, .jumbotext h1 {
		margin: 0 16px;
	}
	.jumbotext h1 {
		margin-top: 32px;
	}
	.jumbotext .jumbobutton {
		margin-bottom: 32px;
	}
	.imgcontainer {
		width: 100%;
		height: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	.imgcontainer img {
		
		max-width: 100%;
		height: auto;
	}
	.jumbobutton {
		padding: 8px 100px;
	}
	
	.course-art {
		width: 30%;
	}
	.exhibit-container {
		display: none;
	}
	.vid-cont-mobile {
		display: inline;
		width: 100%;
		margin-top: 32px;
	}
	.vid-cont-mobile video {
		width: 100%;
		margin-bottom: 24px;
	}
	.footer {
		border-top: none;
		padding: 16px 24px;
	}
}